<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>박신사 - 로그인</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- 부트스트랩 css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .login-div {
            width: 400px;
            margin: 200px auto;
        }
        h2 {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="login-div">
    <h2>로그인</h2>
    <form th:object="${login}" th:action method="post" onsubmit="return onSubmitEvent(this)">
        <!-- ID input -->
        <div class="form-group col-md-12">
            <label for="loginId">아이디</label>
            <input th:field="*{loginId}" type="text" class="form-control" id="loginId">
        </div>

        <!-- Password input -->
        <div class="form-group col-md-12">
            <label for="password">비밀번호</label>
            <input th:field="*{password}" type="password" class="form-control" id="password">
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isRememberId" checked />
                    <label class="form-check-label" for="isRememberId"> 아이디 기억하기 </label>
                </div>
            </div>

            <div class="col">
                <!-- Simple link -->
                <a href="#!">비밀번호 찾기</a>
            </div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">로그인</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>아이디가 없으신가요? <a href="/member/register">가입하기</a></p>
        </div>
    </form>
</div>
</body>
<script th:inline="javascript">
  var loginIdInput = document.getElementById("loginId");
  var isRememberIdCheck = document.getElementById("isRememberId");
  var idCookieName = 'rememberId';

  var error = [[${#fields.errors('login.*')}]]

  if(error.length > 0) {
    var loginIdError = [[${#fields.errors('login.loginId')}]]
    var pwError = [[${#fields.errors('login.password')}]]

    if (loginIdError.length > 0) {
        alert(loginIdError[0]);
    } else if (pwError.length > 0) {
        alert(pwError[0]);
    }
  }

  window.onload = function() {
    if (getCookie(idCookieName)) {
        loginIdInput.value = getCookie(idCookieName);
        isRememberIdCheck.checked = true;
    }
  }

  function setCookie(name, value, expiredays) //쿠키 저장함수
  {
      var todayDate = new Date();
      todayDate.setDate(todayDate.getDate() + expiredays);
      document.cookie = name + "=" + escape(value) + "; path=/; expires="
              + todayDate.toGMTString() + ";"
  }

  function getCookie(Name) { // 쿠키 불러오는 함수
      var search = Name + "=";
      if (document.cookie.length > 0) { // if there are any cookies
          offset = document.cookie.indexOf(search);
          if (offset != -1) { // if cookie exists
              offset += search.length; // set index of beginning of value
              end = document.cookie.indexOf(";", offset); // set index of end of cookie value
              if (end == -1)
                  end = document.cookie.length;
              return unescape(document.cookie.substring(offset, end));
          }
      }
  }

  function onSubmitEvent(form) {
    if(isRememberIdCheck.checked) {
        setCookie(idCookieName, loginIdInput.value, 7); //아이디입력필드값을 7일동안 저장
    } else {
        setCookie(idCookieName, loginIdInput.value, 0); //날짜를 0으로 저장하여 쿠키삭제
    }
  }
</script>
</html>
